[package]
name = "eslauncher2"
version = "0.8.10"
authors = ["M*C*O <mcofficer@gmx.de>", "EndlessSkyCommunity"]
edition = "2021"
build = "build.rs"
description = "A plugin and game resource manager for Endless Sky"

[package.metadata.bundle]
name = "ESLauncher2"
identifier = "com.github.EndlessSkyCommunity.ESLauncher2"
icon = ["icons/ESLauncher2.icns"]
resources = ["assets", "icons/**/*.png"]
short_description = "Endless Sky Launcher"
osx_minimum_system_version = "10.7"

[dependencies]
anyhow = "1.0"
bitar = { version = "0.10", features=["rustls-tls"] }
chrono = { version = "0.4", default_features = false, features = ["serde", "clock"]}
dmg = "0.1.2"
espim = "0.2"
flate2 = "1.0"
fs_extra = "1.3.0"
futures = "0.3"
iced_futures = "0.4.1"
lazy_static = "1.4"
log = { version="0.4.17", features=["std"] }
open = "4"
parse_link_header = "0.3"
platform-dirs = "0.3.0"
progress-streams = "1.1.0"
regex = "1"
rodio = { version="0.17", default_features = false, features=["vorbis"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde-xml-rs = "0.6"
simplelog = "0.12.0"
tar = "0.4"
tokio = { version="1", default_features = false, features=["fs"] }
ureq = { version = "2.6", default_features = false, features = ["json", "tls"] }
version = "3"
zip-extract = { version = "0.1.2", default_features = false, features = ["deflate"] }

[dependencies.iced]
version = "0.4.2"
default_features = false
features = ["glow", "image", "tokio"]

[dev-dependencies.iced]
version = "0.4.2"
default_features = false
features = ["glow", "debug", "image", "tokio"]

[target.'cfg(windows)'.build-dependencies]
winres = "0.1"

[profile.release]
opt-level = 'z'  # Optimize for size.
lto = true
