[package]
name = "eslauncher2"
version = "0.4.5"
authors = ["M*C*O <mcofficer@gmx.de>", "EndlessSkyCommunity"]
edition = "2020"
build = "build.rs"
description = "A plugin and game resource manager for Endless Sky"

[package.metadata.bundle]
name = "ESLauncher2"
identifier = "com.github.EndlessSkyCommunity.ESLauncher2"
icon = ["icons/ESLauncher2.icns"]
resources = ["assets", "icons/**/*.png"]
short_description = "Endless Sky Launcher"
osx_minimum_system_version = "10.7"

[dependencies]
anyhow = "1.0"
bitar = { version="0.7.0", features=["rustls-tls"] }
chrono = { version = "0.4", features = ["serde"] }
dmg = "0.1.1"
espim = "0.1"
flate2 = "1.0"
fs_extra = "1.1.0"
futures = "0.3"
log = { version="0.4.8", features=["std"] }
open = "1"
platform-dirs = "0.2.0"
progress-streams = "1.1.0"
rodio = { version="0.11", default_features = false, features=["vorbis"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde-xml-rs = "0.4"
simplelog = "0.8.0"
tar = "0.4"
tokio = { version="0.2", default_features = false, features=["fs"] }
ureq = { version = "1.3", default_features = false, features = ["json", "tls"] }
version = "3"
zip-extract = { version = "0.1.0", default_features = false, features = ["deflate"] }

[dependencies.iced]
version = "0.1.1"
default_features = false
features = ["image"]
# TODO: consider features = ["async-std"]

[dev-dependencies.iced]
version = "0.1.1"
default_features = false
features = ["debug", "image"]

[target.'cfg(windows)'.build-dependencies]
winres = "0.1"

[profile.release]
opt-level = 'z'  # Optimize for size.
lto = true
