name: Build
on:
  push:

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: hecrj/setup-rust-action@v1
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y libasound2-dev
      - name: Build binary
        run: |
          cargo build --verbose --release
          mv target/release/eslauncher2 eslauncher2-x86_64-unknown-linux-gnu
      - name: Strip binary
        run: strip eslauncher2-x86_64-unknown-linux-gnu
      - name: Upload binary
        uses: actions/upload-artifact@v1
        with:
          name: eslauncher2-x86_64-unknown-linux-gnu
          path: eslauncher2-x86_64-unknown-linux-gnu
      - name: Release binary
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: |
            eslauncher2-x86_64-unknown-linux-gnu
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  windows:
    runs-on: windows-latest
    steps:
      - uses: hecrj/setup-rust-action@v1
      - uses: actions/checkout@v2
      - name: Enable static CRT linkage
        run: |
          mkdir .cargo
          echo '[target.x86_64-pc-windows-msvc]' >> .cargo/config
          echo 'rustflags = ["-Ctarget-feature=+crt-static"]' >> .cargo/config
      - name: Build binary
        run: |
          cargo build --verbose --release
          mv target/release/eslauncher2.exe eslauncher2-x86_64-pc-windows-msvc.exe
      - name: Archive binary
        uses: actions/upload-artifact@v1
        with:
          name: eslauncher2-x86_64-pc-windows-msvc
          path: eslauncher2-x86_64-pc-windows-msvc.exe
      - name: Release binary
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: |
            eslauncher2-x86_64-pc-windows-msvc.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  macos:
    runs-on: macOS-latest
    steps:
      - uses: hecrj/setup-rust-action@v1
      - uses: actions/checkout@v2
      - name: Build binary
        env:
          MACOSX_DEPLOYMENT_TARGET: 10.14
        run: |
          cargo build --verbose --release
          chmod 755 target/release/eslauncher2
          ls -al target/release
      - name: Package binary
        run: |
          cargo install cargo-bundle
          cargo bundle --release
          ls -al target/release/bundle/osx/ESLauncher2.app/Contents/MacOS
      - name: Strip binary
        run: |
          strip target/release/bundle/osx/ESLauncher2.app/Contents/MacOS/eslauncher2
          chmod 755 target/release/bundle/osx/ESLauncher2.app/Contents/MacOS/eslauncher2
          ls -al target/release/bundle/osx/ESLauncher2.app/Contents/MacOS
      - name: Package ourselves to prevent execution flag creep
        run: |
          cd target/release/bundle/osx
          tar -cf ESLauncher2.app.tar ESLauncher2.app
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: ESLauncher2.app.tar
          path: target/release/bundle/osx
      - name: Release binary
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ESLauncher2.app
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
