name: Build
on:
  push:

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: hecrj/setup-rust-action@v1
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y libasound2-dev
      - name: Build binary
        run: |
          cargo build --verbose --release
          mv target/release/eslauncher2 eslauncher2-x86_64-unknown-linux-gnu
      - name: Strip binary
        run: strip eslauncher2-x86_64-unknown-linux-gnu
      - name: Upload binary
        uses: actions/upload-artifact@v1
        with:
          name: eslauncher2-x86_64-unknown-linux-gnu
          path: eslauncher2-x86_64-unknown-linux-gnu
      - name: Release binary
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: |
            eslauncher2-x86_64-unknown-linux-gnu
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  windows:
    runs-on: windows-latest
    steps:
      - uses: hecrj/setup-rust-action@v1
      - uses: actions/checkout@v2
      - name: Enable static CRT linkage
        run: |
          mkdir .cargo
          echo '[target.x86_64-pc-windows-msvc]' >> .cargo/config
          echo 'rustflags = ["-Ctarget-feature=+crt-static"]' >> .cargo/config
      - name: Build binary
        run: |
          cargo build --verbose --release
          mv target/release/eslauncher2.exe eslauncher2-x86_64-pc-windows-msvc.exe
      - name: Archive binary
        uses: actions/upload-artifact@v1
        with:
          name: eslauncher2-x86_64-pc-windows-msvc
          path: eslauncher2-x86_64-pc-windows-msvc.exe
      - name: Release binary
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: |
            eslauncher2-x86_64-pc-windows-msvc.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  macos:
    runs-on: macOS-latest
    steps:
      - uses: hecrj/setup-rust-action@v1
      - uses: actions/checkout@v2
      - name: Build binary
        env:
          MACOSX_DEPLOYMENT_TARGET: 10.14
        run: |
          cargo build --verbose --release
          mv target/release/eslauncher2 eslauncher2-x86_64-apple-darwin
      - name: Strip binary
        run: strip eslauncher2-x86_64-apple-darwin
      - name: Archive binary
        uses: actions/upload-artifact@v1
        with:
          name: eslauncher2-x86_64-apple-darwin
          path: eslauncher2-x86_64-apple-darwin
      - name: Release binary
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: |
            eslauncher2-x86_64-apple-darwin
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
